body {
    font-family: Arial;
    background: #111;
    color: #0f0;
    padding: 20px;
}

h1 {
    text-align: center;
}

video {
    display: block;
    margin: 0 auto 10px auto;
    border: 2px solid #0f0;
    border-radius: 5px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #0f0;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
