@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== BASE ===== */
:root {
  --background: #091b45;
  --foreground: #ededed; /* zinc-200 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== HUD PANEL ===== */
.hud-panel {
  position: relative;
  background: #470088; /* zinc-950 */
  border: 1px solid rgba(0, 255, 0, 0.25);
  padding: 1.5rem;
  border-radius: 12px;
  min-width: 220px;

  box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.9),
    0 0 18px rgba(0, 255, 0, 0.08);
}

/* HUD corners */
.hud-corner {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid rgba(0, 255, 0, 0.4);
  opacity: 0.8;
}

.top-left {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: -1px;
  right: -1px;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: -1px;
  left: -1px;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none;
}
