@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #081b47;
    --foreground: #ededed;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #081b47;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* ===== HUD PANEL ===== */
.hud-panel {
  position: relative;
  background: #020617; /* zinc-950 */
  border: 1px solid rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 12px;
  min-width: 220px;

  box-shadow:
    inset 0 0 20px rgb(0, 0, 0),
    0 0 18px rgba(0, 0, 0, 0.6);
}

/* HUD corners */
.hud-corner {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #000000;
  opacity: 0.8;
}

.top-left {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: -1px;
  right: -1px;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: -1px;
  left: -1px;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none;
}
